#header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        gap: 25px;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .active {
            color: lightgreen;
            padding-bottom: 7px;
            border-bottom: 2.5px solid lightgreen;
        }
    }
/* Style The Dropdown Button */
.dropbtn {
    color: white;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0.5rem 2rem;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    text-decoration: none;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }
}