#header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        gap: 25px;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    a {
      color: black;
      text-decoration: none;
    }

    a.active {
      padding-bottom: 5px;
      border-bottom: 3px solid green;
    }

/* Style The Dropdown Button */
.dropbtn {
    color: white;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    display: inline-block;
    position: sticky;
  }

  .dropdownCart {
    display: inline-block;
    position: sticky;

    .shoppingCartIcon {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;

      span {
        background-color: black;
        color: white;
        padding: 5px;
        border-radius: 50%;
        transform: translateY(-15px) translateX(-5px); 
      }
    }
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0.5rem 2rem;
    z-index: 1;
  }

  .dropdown-cart {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0.5rem 2rem;
    z-index: 1;
    transform: translateX(-100px);
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    text-decoration: none;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .dropdownCart:hover .dropdown-cart {
    display: flex;
    flex-direction: column;
  }

  .cartItem {
    display: grid;
    grid-template-columns: 60% 10% 30%;
    padding: 0.5rem 0;

    .cartProductImage {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  }

  .checkoutButton {
    background: lightgreen;
    padding: 0.5rem 0.7rem;
    border: none;
  }

  .checkoutButton:hover {
    cursor: pointer;
  }

  .shoppingCartLinks {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5px;
  }
}

.whiteButton {
  background: white;
  border: 2px solid;
  padding: 0.5rem 0.7rem;
}

.whiteButton:hover {
  color: white;
  cursor: pointer;
  background: black;
}