#header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        gap: 25px;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    a {
      color: black;
      text-decoration: none;
    }

    a.active {
      padding-bottom: 5px;
      border-bottom: 3px solid green;
    }

/* Style The Dropdown Button */
.dropbtn {
    color: white;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    display: inline-block;
    position: sticky;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0.5rem 2rem;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    text-decoration: none;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }

  .cartItem {
    display: grid;
    grid-template-columns: 70% 30%;

    .cartProductImage {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  }

  .checkoutButton {
    background-color: lightgreen;
    padding: 1rem 3rem;
    margin-bottom: 1.5rem;
    border: none;
  }

  .shoppingCartLinks {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}