.shoppingCart {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);

    .itemAndCounter {
        display: grid;
        grid-template-columns: 30% 70%;
    }
}

.blockButton {
    background-color: white;
    color: black;
    border: 1px black solid;
    padding: 0.5rem 0.5rem;
}

.blockButton:hover {
    background-color: black;
    color: white;
}

.cartContainer {
    margin: 0 5rem;
}

.productSizes {
    display: flex;

    div {
        margin-right: 0.5rem;
    }

    div button:hover{
        cursor: pointer;
    }
}