@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
  font-family: 'Raleway', sans-serif;
}

.container {
  padding: 100px 100px;
}

.responsiveImage {
  width: 100%;
  height: auto;
}

.headingDesktop {
  font-weight: 400;
  font-size: 42px;
  line-height: 67.2px;
  font-style: normal;
}