@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.container {
  padding: 100px 100px;
}

.responsiveImage {
  width: 100%;
  height: auto;
}

.headingDesktop {
  font-weight: 400;
  font-size: 42px;
  line-height: 67.2px;
  font-style: normal;
}