@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: white;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 65px;
    line-height: 65px;

    .navigationWrapper {
        max-width: 1440px;
        padding: 0 50px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navigationLinks {
        display: flex;
        color: black;
        list-style-type: none;

        a {
            color: black;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            transition: all 0.3s ease;
        }

        a.active{
            color: #5ECE7B;
            padding-bottom: 22px;
            border-bottom: 2px solid #5ECE7B;
        }

        a.second {
            margin: 0 32px;
        }

        li {
            .shoppingCart:hover {
                cursor: pointer;
            }

            .currencySelector {
                margin-right: 35px;

                img.dollarSign {
                    transform: translateY(5px);
                }
                img.chevron {
                    position: absolute;
                    transform: translateY(30px);
                }
            }

            .currencySelector:hover {
                cursor: pointer;
            }
        }

        .dropdownMenu {
            background: white;
            color: black;
            width: 114px;
            top: 50px;
            padding: 10px 20px;
            line-height: 60px;
            position: absolute;
            box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.250),
                        -1px -1px 7px rgba(0, 0, 0, 0.250);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;

            li {
                width: 100%;
                display: block;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 250%;
            }

            li:hover {
                cursor: pointer;
                color: #5ECE7B;
            }
        }

        .show {
            opacity: 1;
            visibility: visible;
            top: 65px;
        }

        .shoppingCart {
            .cartCounter {
                display: grid;
                text-align: center;
                h6 {
                    color: white !important;
                }
            }
        }

        .dropdownCart {
            background: white;
            color: black;
            width: 325px;
            top: 85px;
            padding: 0.25rem 1rem;
            line-height: 45px;
            position: absolute;
            box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.250),
                        -1px -1px 7px rgba(0, 0, 0, 0.250);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            overflow-y: scroll !important;

            li {
                width: 100%;
                display: block;
            }

            .cartItem {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 50% 50%;
                align-items: center;
                align-content: center;

                .cartItemText {
                    .cartLink {
                        h6 {
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 25.6px;

                            a {
                                margin: 0;
                            }
                        }
    
                        h4 {
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 25.6px;
                        }
                    }
                }

                .cartLink:hover {
                    cursor: pointer;
                    a {
                        h5, h4 {
                            color: #5ECE7B;
                        }
                    }
                }

                .itemQtyAndImage {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .qtyButtons {
                        text-align: center;
                        button {
                            background: white;
                            border: black 1px solid;
                            padding: 5px;
                        }

                        button:hover {
                            cursor: pointer;
                            background: black;
                            color: white;
                        }
                    }

                    .cartItemImageWrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        img {
                            width: 100px !important;
                        }
                    }
                }

                .attributesBlock {
                    display: grid;
                    grid-template-columns: 30% 30%;
                    grid-gap: 12px;
                    padding: 0.5rem 0;
                    
                    button {
                        background: white;
                        border: black 1px solid;
                        padding: 1.5px;
                        font-family: Source Sans Pro;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 160%;
                        text-align: center;
                    }

                    button:hover {
                        cursor: pointer;
                        background: black;
                        color: white;
                    }

                    button.attributeActive {
                        opacity: 0.25;
                    }

                    button.attributeActiveColor {
                        opacity: 0.25;
                    }

                    .miscAttribute {
                        grid-column-start: span 3;
                        p {
                            font-size: 10px;
                            line-height: 10px;
                        }

                        .miscAttributeButton {
                            display: flex;
                            padding: 0.25rem 0;
                            gap: 8px;
                        }
                    }
                }
            }

            .cartTotal {
                display: flex;
                justify-content: space-between;
            }

            .cartButtons {
                display: grid;
                grid-template-columns: 50% 50%;
                justify-content: center;
                align-items: center;
                gap: 12px;

                a button {
                    background: white;
                    border: black 1px solid;
                    padding: 13px 36px;
                    font-weight: 400;
                }

                button.green {
                    background: #5ECE7B;
                    border: #5ECE7B 1px solid;
                    padding: 13px 36px;
                    color: white;
                    font-size: 14px;
                    font-weight: 400;
                    text-align: center;
                }

                button:hover {
                    cursor: pointer;
                    background: black;
                    color: white;
                }

                button.green:hover {
                    background: white;
                    border: #5ECE7B 1px solid;
                    padding: 13px 36px;
                    color: #5ECE7B;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }

        .cartShow {
            opacity: 1;
            visibility: visible;
            top: 65px;
        }
    }

    .logoWrapper {
        display: flex;
        transform: translateX(-80px);
        .logoImage:hover {
            cursor: pointer;
        }
    }

    .middle {
        padding: 0 32px;
    }

    .mobileNavigation {
        background: white;
        color: black;
        padding: 25px 25px;
        width: 100vw;
        height: 100vh;
        top: 0px;
        right: 0px;
        line-height: 45px;
        position: absolute;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.250),
                    -1px -1px 7px rgba(0, 0, 0, 0.250);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;

        li {
            list-style-type: none;
        }
    }

    .navigationMobile {
        padding: 20px 0px;
    }

    .menuWrapper {
        display: flex;
        align-items: center;
    }

    .menuWrapper:hover {
        cursor: pointer;
    }

    .closeWrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .closeWrapper img:hover {
        cursor: pointer;
    }

    .showMobile {
        opacity: 1;
        visibility: visible;
    }

    #circle {
        width: 20px;
        height: 20px;
        background: black;
        color: white !important;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        transform: translate(13px, -55px);
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    }
}


//RESPONSIVE
// X-Small devices (portrait phones, less than 576px)
@media (min-width: 250px) {
    .logoWrapper {
        display: flex !important;
        transform: translateX(0) !important;
        .logoImage:hover {
            cursor: pointer;
        }
    }

    .navigationDesktop {
        display: none !important;
    }

    .navigationWrapper {
        padding: 0 25px !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .logoWrapper {
        display: flex;
        transform: translateX(-80px) !important;
        .logoImage:hover {
            cursor: pointer;
        }
    }
    
    .navigationDesktop {
        display: flex !important;
    }

    .navigationMobile {
        display: none !important;
    }

    .navigationWrapper {
        padding: 0 50px !important;
    }
}
