.productWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

    .imagesWrapper {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 20% 80%;
        justify-items: center;

        .smallImages img {
            //Check Figma Scale Size
            max-width: 50px;
        }

        .bigImage img {
            //Check Figma Scale Size
            width: 250px;
        }
    }

    .productText {
        .addToCart {
            background: #5ECE7B;
            color: white;
            padding: 1rem 0.75rem;
            border: none;
        }
    }
}